h1 {
    color: darkblue;
}

img {
    width: 400px;
    display: block;
    margin-left: auto;
  margin-right: auto;
   
}

.divClass {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente dentro del div */
    align-items: center;
    color: lightgray;
}

a {
    color: lightgray;
    
}
#spanId {
    font-size: 18px;
    margin: 50px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: lightblue;
    padding: 50px;
    border: 3px solid navy;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
    
    background-image: url('https://github.com/sebas326/HTML_1/blob/main/homework/fondo.jpg?raw=true');
    background-size: cover;       
     background-position: center; 
      background-repeat: no-repeat; 
      
    
    display: center;
    justify-content: center; 
    align-items: center;     
}